[project]
	description = NFS-Ganesha, a NFSv2/NFSv3/NFSv4.x server in User Space
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Allison Henderson (achender)
[access "refs/for/refs/*"]
	read = group user/Allison Henderson (achender)
	push = group user/Allison Henderson (achender)
	label-Code-Review = -2..+2 group user/Allison Henderson (achender)
	label-Verified = -1..+1 group user/Allison Henderson (achender)
	rebase = group user/Allison Henderson (achender)
	removeReviewer = group user/Allison Henderson (achender)
	submit = group user/Allison Henderson (achender)
[access "refs/heads/*"]
	read = group user/Allison Henderson (achender)
	create = group user/Allison Henderson (achender)
	push = +force group user/Allison Henderson (achender)
	pushMerge = group user/Allison Henderson (achender)
[access "refs/tags/*"]
	push = +force group user/Allison Henderson (achender)
	pushTag = group user/Allison Henderson (achender)
	pushSignedTag = group user/Allison Henderson (achender)
